<div class="filter"> 

<button class="btn incompleteOnly" (click)="toggleVis('incomplete')"> Incomplete </button>
<button class="btn completeOnly" (click)="toggleVis('complete')">Complete</button>
<button class="btn all" (click)="toggleVis('all')"> All </button>
</div>
<div class="list" *ngFor="let todo of todos" >
    <ng-container *ngIf="!todo.complete && showIncomplete">
        <app-todo-item [todo]="todo"></app-todo-item>
    </ng-container >

    <ng-container *ngIf="todo.complete && showComplete">
        <app-todo-item [todo]="todo"></app-todo-item>
    </ng-container>

</div>

