.todoWrapper {
    border-bottom: 1px solid #efefef;
    text-align: left;
    margin-bottom: 10px;

  }
  .button-container {
    align-items: right;
    margin-bottom: 10px;
  }
  .todoItem:read-only{
    outline: none;
    border: none;
    font-size: large;
  }

  .todoItem {
    font-size: large;
    margin-right: 10px;
  
  }

  .edit {
    margin-right: 1.5em;
    color: rgb(200,200,200);
  }


  .edit:hover {
    color: rgb(91,91,91)
  }

  .btn {
    margin-right: 10px;
    outline: none;
    box-shadow: none;
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    padding: 5px 8px 9px 8px;
    background-color: transparent;
    width: 36px;
    height: 36px;
  }

  .removeTodo {
    color: rgba(187, 48, 78, 0.5)!important;
    border-color: rgba(187, 48, 78, 0.5);
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    background-color: transparent;
    width: 36px;
    height: 36px;
    padding: 5px 9px 9px 9px;
    margin-right: 10px;
    outline: none;
    box-shadow: none;
  }

  .removeTodo:hover {
    color: rgba(187, 48, 78, 0.9);
    border-color: rgba(187, 48, 78, 0.9);
    font-weight: bold;
  } 


  .completeTodo {
  color: rgba(71, 187, 48, 0.5);
  border-color: rgba(71, 187, 48, 0.5);
}

.completeTodo:hover {
  color: rgba(71, 187, 48, 0.9);
  border-color: rgba(71, 187, 48, 0.9);
  font-weight: bold;
}

.uncompleteTodo{
  color: rgba(71, 187, 48, 0.9);
  border-color: rgba(71, 187, 48, 0.9);
  background-color: rgba(71, 187, 48, 0.3);;
}

.high {
  color: rgba(238, 73, 67, 0.8);
}

.medium {
  color: rgba(248, 220, 95, 0.9);
}

.low {
  color: rgba(137, 235, 213, 0.8);
}

.priorityFlag  {
 
  outline: none;
  box-shadow: none;
  border: none;
  padding-right: 0;
}

.todoDate {
  
  outline: none;
  box-shadow: none;
  border: none;
  font-size: smaller;

}

.todoPriority {
  font-family: Font Awesome 5 Free, fa-solid-900;
  font-weight: 900; 
}

.noPriority {
display: none;
}