
<div class="todoWrapper" (clickOutside)="saveEdit()" (keyup.enter)="saveEdit()">

    <a class="edit" (click)="makeEditable()"> <fa-icon [icon]=faEdit> </fa-icon></a>

    <input type="text" class="todoItem" value={{todo.text}} [(ngModel)]="todo.text" [readonly]="readOnly"/>

    <ng-container class="button-container" *ngIf="!todo.complete">
        <button class="btn completeTodo" (click)="completeTodo(todo)">✔</button>  
        <a class="removeTodo" (click)="removeTodo('complete')"> <fa-icon [icon]=faTrashAlt> </fa-icon></a>
    </ng-container>

    <ng-container class="button-container" *ngIf="todo.complete">
        <button class="btn uncompleteTodo">✔</button>  
        <a class="removeTodo" (click)="removeTodo('complete')"> <fa-icon [icon]=faTrashAlt> </fa-icon></a>
    </ng-container>


</div>